* {
  border: solid red 1px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-size: 16px;
}
.container {
  border: solid green 1px;
  padding: 3vmin 5vmin;
  display: flex;
  flex-wrap: wrap;
}
header {
  background: hsl(0, 0%, 12%);
  color: white;
}
header .container {
  justify-content: space-between;
}
header .container #searchBox {
  width: 50%;
  display: flex;
}
header .container #searchBox input {
  flex-grow: 1;
  min-width: 0;
  padding-left: 1vmin;
}
header .container #searchBox button {
  padding: 1vmin;
}
header .container #siteHeadline {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vmin;
  font-weight: 900;
  font-size: 3vmin;
}
header .container #units {
  width: 10vmin;
  display: flex;
}
header .container #units button {
  flex-grow: 1;
}
#hourlyWeather {
  display: flex;
  width: 70%;
  overflow-x: scroll;
}
#hourlyWeather > * {
  padding-left: 50px;
  padding-right: 50px;
}
.weatherImg {
  width: 60px;
  height: 60px;
  background-position: center center;
  background-size: contain;
}
#commonInfo .container {
  display: flex;
  flex-direction: column;
}
#commonInfo .container > div {
  display: flex;
  justify-content: space-evenly;
}
#commonInfo .container > div > div {
  width: 17vmin;
}
#dailyWeather .container table {
  width: 100%;
}
#dailyWeather .container table img {
  width: 10vmin;
  height: 10vmin;
}
@media screen and (max-width: 580px) {
  header .container #units {
    width: 100%;
    margin-top: 2vmin;
  }
  header .container #hourlyWeather {
    width: 100%;
  }
  header .container #searchBox {
    width: 60%;
  }
  header .container #siteHeadline {
    font-size: 3.5vmin;
  }
  #commonInfo .container {
    flex-direction: row;
    justify-content: space-evenly;
  }
  #commonInfo .container div {
    flex-direction: column;
  }
}
@media screen and (max-width: 450px) {
  header .container #siteHeadline {
    width: 100%;
  }
  header .container #searchBox {
    margin-top: 2vmin;
    width: 100%;
  }
  header .container #siteHeadline {
    font-size: 4vmin;
  }
}
