* {
  border: solid red 1px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100%;
  width: 100%;
  background: #ffa500;
}
body {
  font-size: 16px;
}
.container {
  border: solid green 1px;
  padding-left: 5vmin;
  padding-right: 5vmin;
  display: flex;
  flex-wrap: wrap;
}
.container #searchBox {
  border: solid green 1px;
  width: 50%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.container #searchBox input {
  flex-grow: 1;
  min-width: 0;
  padding-left: 1vmin;
}
.container #searchBox button {
  padding: 1vmin;
}
.container #siteHeadline {
  width: 30vmin;
}
.container #units {
  width: 10vmin;
  display: flex;
}
.container #units button {
  flex-grow: 1;
}
#hourlyWeather {
  display: flex;
  width: 70%;
  overflow-x: scroll;
}
#hourlyWeather > * {
  padding-left: 50px;
  padding-right: 50px;
}
.weatherImg {
  width: 60px;
  height: 60px;
  background-position: center center;
  background-size: contain;
}
#commonInfo .container {
  display: flex;
  flex-direction: column;
}
#commonInfo .container > div {
  display: flex;
  justify-content: space-evenly;
}
#commonInfo .container > div > div {
  width: 17vmin;
}
@media screen and (max-width: 540px) {
  .container #units,
  #hourlyWeather {
    width: 100%;
  }
  #commonInfo .container {
    flex-direction: row;
    justify-content: space-evenly;
  }
  #commonInfo .container div {
    flex-direction: column;
  }
}
@media screen and (max-width: 300px) {
  .container #siteHeadline,
  .container #searchBox {
    width: 100%;
  }
}
