.size(@width, @height) {
  width: @width;
  height: @height;
}

* {
  //border: solid red 1px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
}

.container {
  //border: solid green 1px;
  padding: 3vmin 5vmin;
  display: flex;
  flex-wrap: wrap;
}

header {
  background: hsl(0, 0%, 12%);
  color: white;

  & .container {
    justify-content: space-between;
    
    & #searchBox {
      width: 50%;
      display: flex;
    
      & input {
        flex-grow: 1;
        min-width: 0;
        padding-left: 1vmin;
      }
    
      & button {
        padding: 1vmin;
      }
    }

    & #siteHeadline {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30vmin;
      font-weight: 900;
      font-size: 3vmin;
    }

    & #units {
      width: 10vmin;
      display: flex;
    
      & button {
        flex-grow: 1;
      }
    }
  }
}

#todayWeather .container {
  justify-content: space-between;

  & #currentWeather {
    padding-left: 3vmin;
    padding-right: 3vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & > * {
      margin-bottom: 2vmin;
    }

    & #mainWeather,
    & .temp {
      font-size: 1.4em
    }
  }

  & #hourlyWeather {
    display: flex;
    width: 70%;
    overflow-x: scroll;
    padding-top: 2vmin;
    padding-bottom: 2vmin;
  
    & > * {
      padding-left: 30px;
      padding-right: 30px;
    }

    & .weatherIcons {

      & > * {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      & .weatherImg {
        .size(60px, 60px);
        background: hsl(0, 0%, 80%);
        background-position: center center;
        background-size: contain;
        margin-top: 3vmin;
        margin-bottom: 3vmin;
      }
    }
  }
}

#commonInfo .container {
  display: flex;
  flex-direction: column;
  background: hsl(0, 0%, 12%);
  color: white;

  & > div {
    display: flex;
    justify-content: space-between;

    & > div {
      width: 17vmin;
      display: flex;
      flex-direction: column;

      & > * {
        display: flex;
        justify-content: center;
        text-align: center;
      }

      & h4 {
        margin-bottom: 1vmin;
      }

      & span {
        margin-top: auto;
      }

    }
  }

  & > div:first-of-type {
    margin-bottom: 2vmin;
  }
}

#dailyWeather .container {
  
  & table {
    width: 100%;
    text-align: center;

    & img {
      .size(10vmin, 10vmin);
      background: hsl(0, 0%, 80%);
    }
  }
}

@media screen and (max-width: 580px){
  header .container {
    & #units {
      width: 100%;
      margin-top: 2vmin;

      & button {
        padding: 1vmin;
      }
    }

    & #hourlyWeather {
      width: 100%;
    }

    & #searchBox {
      width: 60%;
    }

    & #siteHeadline {
      font-size: 3.5vmin;
    }
  }

  #todayWeather .container {

    & #currentWeather {
      width: 100%;
    }

    & #hourlyWeather {
      width: 100%;
    }
  }

  #commonInfo .container {
    flex-direction: row;
    justify-content: space-evenly;

    & div {
      flex-direction: column;

      & > div {
        width: 25vmin;
      }

      & > div:not(:last-of-type) {
        margin-bottom: 2vmin;
      }
    }

    & > div:first-of-type {
      margin-bottom: 0;
    }


  }
}

@media screen and (max-width: 450px){
  header .container {
    & #siteHeadline {
      width: 100%;
    }

    & #searchBox {
      margin-top: 2vmin;
      width: 100%;
    }

    & #siteHeadline {
      font-size: 4vmin;
    }
  }

  #commonInfo .container {
    
    & div {

      & > div {
        width: 35vmin;
      }
    }
  }
}