.size(@width, @height) {
  width: @width;
  height: @height;
}

* {
  border: solid red 1px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
}

.container {
  border: solid green 1px;
  padding: 3vmin 5vmin;
  display: flex;
  flex-wrap: wrap;
}

header {
  background: hsl(0, 0%, 12%);
  color: white;

  & .container {
    justify-content: space-between;
    
    & #searchBox {
      width: 50%;
      display: flex;
    
      & input {
        flex-grow: 1;
        min-width: 0;
        padding-left: 1vmin;
      }
    
      & button {
        padding: 1vmin;
      }
    }

    & #siteHeadline {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30vmin;
      font-weight: 900;
      font-size: 3vmin;
    }

    & #units {
      width: 10vmin;
      display: flex;
    
      & button {
        flex-grow: 1;
      }
    }
  }
}

#hourlyWeather {
  display: flex;
  width: 70%;
  overflow-x: scroll;

  & > * {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.weatherImg {
  .size(60px, 60px);
  background-position: center center;
  background-size: contain;
}

#commonInfo .container {
  display: flex;
  flex-direction: column;

  & > div {
    display: flex;
    justify-content: space-evenly;

    & > div {
      width: 17vmin;
    }
  }
}

#dailyWeather .container {
  
  & table {
    width: 100%;

    & img {
      .size(10vmin, 10vmin)
    }
  }
}

@media screen and (max-width: 580px){
  header .container {
    & #units {
      width: 100%;
      margin-top: 2vmin;
    }

    & #hourlyWeather {
      width: 100%;
    }

    & #searchBox {
      width: 60%;
    }

    & #siteHeadline {
      font-size: 3.5vmin;
    }
  }

  #commonInfo .container {
    flex-direction: row;
    justify-content: space-evenly;

    & div {
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 450px){
  header .container {
    & #siteHeadline {
      width: 100%;
    }

    & #searchBox {
      margin-top: 2vmin;
      width: 100%;
    }

    & #siteHeadline {
      font-size: 4vmin;
    }
  }
}